@import "vendor/bootstrap/bootstrap";

@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

$accent: lighten(#253157, 25);

@mixin transition($args...) {
    -webkit-transition: $args;
       -moz-transition: $args;
         -o-transition: $args;
            transition: $args;
}

@mixin background-size($size) {
    -webkit-background-size: $size;
       -moz-background-size: $size;
         -o-background-size: $size;
            background-size: $size;
}

body {
    min-height: 100%;

    font-family: "Open Sans", Helvetica, Arial, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #EEE;

    background: #253157 url('../img/bg.jpg') no-repeat center bottom;
    @include background-size(cover);

    // remove side borders when container is full-width
    @media (max-width: $screen-xs-max) {
        @include background-size(contain);
    }
}

header {
    margin-top: 30px;
    text-align: center;

    h1 {
        margin: 20px 0 40px;
        padding: 0;
        font-size: 2.4em;
        font-weight: 700;
        letter-spacing: -1px;
        text-shadow: 2px 2px 5px #444;

        span {
            color: #fcdccf;
        }

        &::first-line {
            font-size: 1.5em;
            letter-spacing: -0.03em;
            font-weight: 800;
            line-height: 1.5em;
        }
    }
}

.row {
    margin-bottom: 15px;
}

.box {
    position: relative;
    z-index: 15;

    h2 {
        color: $accent;
        font-size: 1.8em;
        font-weight: 700;
    }

    p {
        font-size: 1.3em;
        line-height: 1.5em;
    }

    ul {
        list-style: none;
        padding: 0;
    }
}

main {
    margin-top: 20px;
    color: #004;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.95);
    position: relative;
    z-index: 10;

    // remove side borders when container is full-width
    @media (max-width: $screen-xs-max) {
        border-width: 1px 0;
    }
}

.about {}

.contact {
    ul {
        list-style: disc;
        margin: 0 0 0 20px;
        color: $accent;
        li {
            font-size: 1.5em;
            margin-top: 10px;

            a {
                font-weight: 700;
                color: $accent;
            }
        }
    }
}

.experience {
    hr {
        border: solid 1px #AAA;
        opacity: 0.3;
        border-width: 1px 0 0;
        width: 80%;
    }
    .job {
        @include clearfix();

        margin-bottom: 20px;

        div {
            padding: 0;
        }

        h3 {
            font-size: 1.4em;
            font-weight: bold;
            padding: 0;
            margin: 0 0 8px 0;
        }

        .col-sm-3 {
            padding: 0 10px 0 0;
            p {
                font-size: 1.3em;
                opacity: 0.7;
                margin-bottom: 15px;
            }
        }

        .col-sm-9 p {
            font-size: 1.2em;
            line-height: 1.5em;
        }

        ul {
            display: flex;
            align-content: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: 3px 0 0;
            padding: 0;

            li {
                display: inline-block;
                list-style: none;
                background: $accent;
                padding: 4px 6px 5px 5px;
                margin: 0 2px 3px;
                line-height: 1em;
                color: #fff;
            }
        }
    }
}

.handy_with {
    li {
        background: $accent;
        color: #fff;
        padding: 5px 10px;
        margin-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.3em;
        font-weight: 600;
        letter-spacing: 0.05rem;

        &.php { width: 90%; }
        &.js { width: 85%; }
        &.python { width: 85%; }
        &.html { width: 80%; }
        &.db { width: 75%; }
        &.inf { width: 70%; }

        svg {
            width: 10px;
            height: 10px;
            fill: #FFF;
            margin: 0 8px 0 0;
            opacity: 0.6;
        }
    }
}

.hobbies {
    float: right;

    ul {
        display: flex;
        align-content: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;

        li {
            color: #fff;
            margin: 0 5px 5px 0;
            padding: 5px 8px;
            background: $accent;
            font-size: 1.2em;
            letter-spacing: 0.03rem;

            svg {
                width: 10px;
                height: 10px;
                margin: 0 7px 0 0;
                position: relative;
                top: 1px;
                opacity: 0.4;
            }
        }
    }
}

// pull it left when in tiny-mode
@media (max-width: $screen-sm-max) {
    .hobbies {
        float: left !important;
    }
}

footer {
    position: relative;
    color: #fff;
    margin: 0 auto;
    height: 120px;
    line-height: 50px;
    z-index: 10;

    @include transition(opacity .25s linear);

    p {
        position: relative;
        padding: 0;
        z-index: 10;
        color: #fff;
    }

    a {
        color: #fff;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            color: #fff;
        }

        &:focus {
            color: #EEE;
        }
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        height: 120px;
        margin: 0 auto;
        width: 100%;
        z-index: 0;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
        font-size: 2.0rem;
        letter-spacing: 0.5rem;

        .switch {
            cursor: pointer;
            display: inline-block;
            fill: #FFF;
            width: 30px;
            height: 30px;
            margin-top: 12px;
            opacity: 0.5;
            text-align: center;

            &:active {
                position: relative;
                top: 2px;
            }
        }
    }
}

svg {
    #check {
        stroke: #fff;
        stroke-width: 3px;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        fill: none;
    }
    #heart {
        stroke: #fff;
        stroke-width: 10px;
        stroke-linecap: round;
        stroke-linejoin: miter;
        fill: none;
    }
    #brush {
        fill: #fff;
    }
    #shapes {
        stroke: #fff;
        stroke-width: 3px;
        // fill: #fff;
    }
}
