@import "reset";

@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }


$small: 400px;
$medium: 600px;
$large: 900px;

@mixin background-size($size) {
    -webkit-background-size: $size;
       -moz-background-size: $size;
         -o-background-size: $size;
            background-size: $size;
}

$accent: #4da2df;
$bg-top: #4da2df;
$bg-bottom: #c05a82;

body {
    min-height: 100%;

    font-family: "Open Sans", Helvetica, Arial, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #EEE;

    background-color: $bg-top;
    background: -moz-linear-gradient(top, $bg-top 0%, $bg-bottom 100%);
    background: -webkit-linear-gradient(top, $bg-top 0%, $bg-bottom 100%);
    background: linear-gradient(to bottom, $bg-top 0%, $bg-bottom 100%);
}

header {
    text-align: center;
    text-shadow: 2px 2px 5px #444;
    margin: 15px 0 35px;

    h1, h2 {
        margin: 0;
        font-weight: 700;
    }

    h1 {
        font-size: 2.5em;
        line-height: 2em;
    }

    h2 {
        font-size: 1.5em;
        line-height: 1.4em;

        .fancy { display: block; }
        .name { color: #fcdccf; }

        @media (min-width: $medium) {
            .fancy { display: inline; }
        }
    }
}

header, main, footer {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

main {
    color: #004;
    background: rgba(255, 255, 255, 0.95);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;

    @media (max-width: $small) {
        margin: 20px 0 0 !important;
        flex-direction: column;
    }

    .box {
        margin-bottom: 20px;

        h3 {
            color: $accent;
            font-size: 1.3em;
            font-weight: 700;
            margin: 0 0 10px 0;
        }

        p {
            font-size: 1em;
            line-height: 1.5em;
            margin: 0;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                font-size: 0.9rem;
                font-weight: 500;
            }
        }
    }

    .left {
        flex: 3;
        margin-right: 40px;
    }

    .right {
        flex: 2;
    }
}

.me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (min-width: $medium) {
    .me {
        flex-direction: row;
    }
}

.about {}

.contact {
    ul {
        list-style: disc !important;
        margin: 0 0 0 20px;
        color: $accent;

        li {
            // font-size: 1em;
            margin-top: 10px;

            a {
                font-weight: 700;
                color: $accent;
            }
        }
    }
}

@media (min-width: $medium) {
    .about {
        width: 68%;
    }
    .contact {
        width: 30%;
        margin-left: 30px;
    }
}

.experience {
    hr {
        border: solid 1px #AAA;
        opacity: 0.3;
        border-width: 1px 0 0;
        width: 80%;
        margin: 30px auto;
    }
    .job {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: $medium) {
            flex-direction: row;
        }

        h4 {
            margin: 0;
            font-size: 18px;
            margin-bottom: 4px;
        }

        .where {
            width: 100%;
            min-width: 100px;
            display: flex;
            justify-content: space-between;

            @media (min-width: $medium) {
                width: 30%;
                display: block;
            }

            @media (min-width: $large) {
                width: 25%;
            }

            h4 {
            }

            p {
                font-size: 12px;
                margin-bottom: 10px;
            }
        }

        .what {
            width: 100%;

            @media (min-width: $medium) {
                width: 68%;
            }

            @media (min-width: $large) {
                width: 73%;
            }

            p {
                margin: 5px 0;
            }
        }

        ul {
            display: flex;
            align-content: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: 3px 0 0;
            padding: 0;

            li {
                display: inline-block;
                list-style: none;
                background: $accent;
                padding: 4px 6px 5px 5px;
                margin: 0 2px 3px;
                color: #fff;
            }
        }
    }
}

.stuff {

}

.handy {
    li {
        background: $accent;
        color: #fff;
        padding: 5px 10px;
        margin-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.3em;
        font-weight: 600;
        letter-spacing: 0.05rem;

        &.php { width: 90%; }
        &.js { width: 85%; }
        &.python { width: 85%; }
        &.html { width: 80%; }
        &.db { width: 75%; }
        &.inf { width: 70%; }

        svg {
            width: 10px;
            height: 10px;
            fill: #FFF;
            margin: 0 8px 0 0;
        }
    }
}

.hobbies {
    ul {
        display: flex;
        align-content: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;

        li {
            color: #fff;
            margin: 0 5px 5px 0;
            padding: 5px 8px;
            background: $accent;
            font-size: 1.2em;
            letter-spacing: 0.03rem;

            svg {
                width: 10px;
                height: 10px;
                margin: 0 7px 0 0;
                position: relative;
                top: 1px;
                fill: #FFF;
                // opacity: 0.4;
            }
        }
    }
}

@media (min-width: $medium) {
    .experience {
        width: 68%;
    }
    .stuff {
        width: 30%;
    }
    .handy {

    }
    .hobbies {

    }
}

footer {
    position: relative;
    color: #fff;
    margin: 0 auto;
    height: 120px;
    line-height: 50px;
    z-index: 10;
    display: flex;
    padding: 0 20px;
    font-size: 11px;
    justify-content: space-between;

    p {
        position: relative;
        padding: 0;
        z-index: 10;
        color: #fff;
    }

    a {
        color: #fff;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            color: #fff;
        }

        &:focus {
            color: #EEE;
        }
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        height: 120px;
        margin: 0 auto;
        width: 100%;
        z-index: 0;
    }

    span {
        cursor: pointer;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        fill: #FFF;
        padding: 2px 10px;
        background: rgba(255, 255, 255, 0.1);
        border: solid 1px #FFFFFF;
        border-radius: 3px;

        &:active {
            position: relative;
            top: 2px;
        }
    }
}
